.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.listBlock {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}